* {
	padding: 0;
	font-family: "Futura", sans-serif;
	color: black;
}

.logo {
	width: 270px;
	height: 45px;
	margin-top: 20px;
}

.icon {
	display: none;
}

.superior {
	text-align: right;
	width: 100%;
}

.superior li {
	display: inline;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 18px;
}

.superior a {
	text-decoration: none;
}

.superior a:hover {
	background-color: lightgrey;
	border-radius: 10px;
	padding: 10px;
}


.menu > li {
	position: relative;
	display: inline-block;
}

.submenu {
	position: absolute;
	display: none;
}

.submenu li a {
	display: block;
	text-decoration: underline;
	font-size: 14px;
	padding-bottom: 15px;
}

.menu li:hover .submenu {
	display: block;
	background-color: #F6F6F5;
	width: 90%;
	border-radius: 10px;
	margin-top: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

.volveralinicio {
	display: block;
	padding-top: 25px;
	margin-left: 0px;
	font-size: 13px;
}

.volveralinicio i {
	margin: 0px;
	margin-right: 5px;
}

h1 {
	text-align: center;
	margin-top: 70px;
	font-size: 40px;
}

.articleflex {
  display: flex;
  justify-content: center;
}

.fotosfiesta {
	margin: 10px;
	margin-top: 30px;
}

.fotosfiesta img {
	height: 300px;
	width: 500px ;
}

.fotosfiesta p {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

#botonhome{
	height: 50px;
	width: 110px;
	margin-left: 40rem;
	font-size: 37px;
	font-family: Verdana, sans-serif;
	color: black;
	padding-right: 5px;
	padding-bottom: 2px;
	border-radius: 10px;
	border: none;
	margin-top: 15px;
	box-shadow: 1px 1px 5px 5px grey;
}

.phome {
	font-size: 18px;
	margin-top: 90px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 70px;
}

.phome p {
	display: inline;
}

.link {
	font-size: 16px;
	color: blue;
	text-decoration: underline;
	display: inline-block;
	font-family: Verdana, sans-serif;
	margin: 0px;
}

h3 {
	margin-left: 30px;
}

.personajeshome {
	height: 170px;
	width: 130px;
}

.divpersonajeshome {
	margin-left: 0px;

}

.divpersonajeshome p {
padding-left: 20px;
}

footer {
	background-color: #6B6969;
	margin-top: 70px;
	padding-bottom: 10px;
	line-height: 30px;
}

.inferior {
	padding-top: 10px;
}

.inferior li {
	list-style: none;
}

.inferior a {
	color: white;
	text-decoration: underline;
	font-family: 'Arial';
	font-size: 15px;
}

.divnavinferior {
	width: 60%;
	display: inline-block;
	margin-left: 70px;
}

.diviconosrrss{
	width: 33%;
	display: inline;
	flex-wrap: wrap;
}

.iconosrrss {
	height: 40px;
	width: 40px;
	color: white;
	padding-bottom: 30px;
	margin-left: 60px;
	margin-right: 30px;
}

.politica {
	text-align: center;
	font-family: 'Arial';
	color: white;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
}

.fotospersonajes {
	height: 370px;
	width: 300px;
	display: inline;
}

.divpersonajes {
	margin-left: 40px;
	margin-right: 40px;
}

.textopersonajes {
	font-size: 23px;
	font-weight: normal;
	text-decoration: underline;
	margin-left: 100px;
}

.articlepersonajeshome {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 30px;
	margin-right: 30px;
}

.articlehome {
	display: flex;
	justify-content: center;
}

.cita {
	font-size: 20px;
	font-style: italic;
	padding-left: 60px;
	padding-bottom: 30px;
}

.articlegaleria {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.carruselpersonaje{
	height: 200px;
	width: 290px;
	display: inline;
	padding: 20px;
	padding-bottom: 50px;
	margin: 0px;
}

.imagendescripcion {
  display: inline-block;
  margin-left: 70px;
  width: 21%;
  margin-top: 2rem;
}

.textodescripcion {
  display: inline-block;
  width: 70%;
}

.imagendescripcion img {
  margin-left: 0px;
  margin-right: 0px;
  height: 340px;
  width:250px;
}

.textodescripcion h3{
 display: inline;
 margin-left: 0px;
 margin-right: 0px;
 font-size: 23px;
}

.textodescripcion p {
  display: inline;
	margin-left: 3px;
	margin-right: 0px;
	font-size: 19px;
}

label{
	display: block;
}

h4{
	background-color: lightgrey;
}

#tituloquiz {
	margin-bottom: 60px;
}

.fotoscheckbox{
	height: 250px;
	width: 400px;
	padding-right: 200px;
	padding-top: 20px;
}

.casillas{
	margin-right: 130px;
	line-height: 35px;
}
.casillas h4 {
	width: 520px;
	padding-left: 10px;
}

.articlequiz{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

#botonresultado{
	height: 55px;
	width: 180px;
	margin-left: 38rem;
	font-size: 32px;
	border-radius: 10px;
	border: none;
	font-family: Verdana, sans-serif;
	margin-top: 30px;
	box-shadow: 1px 1px 5px 5px grey;
}

h2 {
	padding-top: 20px;
	padding-bottom: 0px;
	margin-bottom: 30px;
	text-decoration: underline;
	margin-left: 100px;
	font-size: 35px;
}

.sectionhistoria {
	margin-left: 30px;
	width: 1250px;
}

.pargumento {
	font-size: 17px;
	padding-bottom: 0px;
}

.articlehistoria {
	display: flex;
}

.articleargumento1 {
	align-items: center;
	width: 60%;
	margin: 0px;
	padding: 0px;
}

.articleargumento2 {
	display: inline-block;
	width: 35%;
	margin-left: 70px;
}

.divargumento {
	padding-bottom: 20px;
}


.divfotoyepigrafe {
	display: inline-block;
	margin: 0px;
	width: 100%;
	margin-bottom: 20px;
}

.fotohistoria {
	width: 280px;
	height: 160px;
	margin: 0px;
	padding: 0px;
}

.epigrafehistoria{
	font-style: italic;
	text-align: justify-all;
	margin-right: 0px;
	padding-right: 0px;
	font-size: 15px;
}

.headerinfo {
	font-size: 25px;
	text-decoration: underline;
	margin-bottom: 50px;
}

.headerinfo2 {
	font-size: 20px;
	font-style: italic;
}

.divinfo {
	margin-bottom: 13px;
}

.divinfo p {
	display: inline;
	margin-left: 0px;
}

.pinfo1 {
margin-right: 0px;
font-weight: bold;
}

.linkazul {
	color: blue;
	font-family: Verdana, sans-serif;
	font-size: 14px;
}

.articleresultado {
	display: flex;
	margin-top: 5rem;
	margin-left:19rem;
	background-color: lightgrey;
	width: 57%;
	padding-bottom: 1.5rem;
	padding-right: 20px;
	border-radius: 20px;
	box-shadow: 1px 1px 5px 5px grey;

}

.articleresultado h3 {
font-size: 27px;
text-align: center;
margin-left: 5px;
padding-right: 5px;
margin-bottom: 10px;
}

.articleresultado p {
	font-size: 17px;
	padding-left: 10px;
	padding-right: 10px;
}

.articleresultado img {
	padding-top: 2.5rem;
}

.divresultado {
	padding-top: 1.5rem;
}

.h3resultado {
	margin-top: 6rem;
	margin-left: 20px;
	text-align: center;
	font-size: 20px;
}

.diviconosresultado {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 1,5rem;
}

.iconosresultado {
	height: 40px;
	width: 40px;
	margin-left: 40px;
	margin-right: 40px;
}

input {
	margin-bottom: 20px;
}

.articleformulario {
display: flex;
width: 1000px;
margin-top: 50px;
justify-content: space-between;
margin-left: 240px;
}

.divcontacto {
	padding-top: 0px;
	margin-left: 0px;
}

.divcontacto p {
	display: inline;
	font-size: 20px;
	margin-left: 0px;
}

.divcontacto div {
	padding-bottom: 10px;
}

.divcontacto img {
	height: 30px;
	width: 30px;
	margin-right: 0px;
	margin-left: 30px;
	padding-bottom: 0px;
}

#locacion {
	width: 450px;
	height: 200px;
	margin-left: 0px;
	padding-top: 10px;
}

.divformulario {
	width: 450px;
}

.divformulario input {
	background-color: lightgrey;
	border: none;
	border-radius: 4px;
	height: 30px;
	width: 100%;
	font-family: Verdana, sans-serif;
	font-size: 16px;
	padding-left: 10px;
	height: 40px;
}

.form50 {
	display: flex;
	margin-right: 0px;
}

.form50 input {
	margin-left: 0px;
	margin-right: 0px;
	width: 240px;
}

#email {
	margin-right: 15px;
}

.form50 label {
	margin-right: 0px;

}

.iconosrrss2 {
	height: 40px;
	width: 40px;
	color: white;
	padding-bottom: 30px;
}

textarea {
	background-color: lightgrey;
	border: none;
	border-radius: 4px;
	height: 30px;
	width: 100%;
	font-family: Verdana, sans-serif;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 80px;
	margin-bottom: 20px;
}

form button {
	background-color: black;
	border-radius: 4px;
	border: none;
	font-family: Verdana, sans-serif;
	font-size: 16px;
	color: white;
	height: 40px;
	width: 100px;
}


@media screen and (max-width: 480px) {
nav.superior ul {display: none;}
.icon {display: inline;}
section {max-width: 480px;
width: 100%;}


header div, header a {
	flex: 1 0 50%;
}

header nav {
	flex-basis: 100%;
}

nav.responsive ul.menu {
display: block;
width: 100%;
margin-top: 0px;
}

nav.responsive li {
	display: block;
	width: 100%;
	padding-top: 10px;
}

nav.responsive li a {
	padding-right: 50px;
}

nav.responsive .submenu li a {
	display: none;
}

nav.responsive .submenu li {
	display: none;
}

nav.responsive .menu i {
	display: none;
}

nav.responsive a:hover {
	padding-right: 70px;
}

.menu li:hover .submenu {
	display: none;
}

header {
	margin-left: 0px;}

header article {
	margin-left: 0px;}

.logo {
	margin-left: 0px;
	margin-top: 5px;
	height: 35px;
	width: 200;}

.volveralinicio {
	display: none;
}

.divhamburguesa {
	display: inline;}

i {
	float: right;
	margin-top:16px ;
	margin-right: 15px;
}

h1 {
	margin-top: 50px;
	font-size: 35px;}

.articleformulario {display: block;
width: 100%;
margin-left: 5px;
margin-top: 30px;}

.divcontacto {width: 100%;
margin-left: 0px;
margin-bottom: 20px;}

.divcontacto div {
	margin-left: 10px;
}

.divcontacto p {
	font-size: 18px;}

#locacion {
	margin-left: 30px;
	width: 80%;
	height: 150px;
	margin-bottom: 30px;
}

.iconosrrss2 {
	height: 20px;
	width: 20px;
	margin-left: 15px;}

.divformulario {width: 420px;
	margin-left: 0px;}

.divformulario form {
	margin-left: 0px;}

.divformulario form div {
	margin-left: 0px;}

.form50 label {
	margin-left: 0px;}

textarea {
	padding-top: 10px;
}

footer {
	margin-top: 60px;
	width: 100%;
	margin-left: 0px;}

.divnavinferior {
	display: flex;
	width: 100%;
margin-left: auto;
margin-right: auto;}

.divnavinferior li {
	display: inline;
	margin-left: 45px;
	margin-right: 0px;}

.divnavinferior li a {
	font-size: 13px;}

.diviconosrrss {
	width: 100%;
	display: flex;
	justify-content: center;
}

.iconosrrss {
	height: 28px;
	width: 28px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	padding-bottom: 20px;}

.politica {
	font-size: 13px;}

.headerinfo {
	width: 100%;
	margin-left: 10px;
	margin-right: 0px;
margin-bottom: 30px;
font-size: 22px;}

.divinfo {
	margin-left: 0px;}

.sectionhistoria br {display: none;}

.headerinfo2{
	margin-left: 0px;
	font-size: 18px;
}

.sectionhistoria article {
	width: 100%;
}

.sectionhistoria p {
	margin-left: 0px;
	width: 100%;
}

#seriemaniacos {
	margin-top: 50px;
}

.sectionhistoria {
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
}

.sectionhistoria a {
	font-size: 12px;
	margin-left: 0px;
	width: 100%;
}

.sectionhistoria p {
	font-size: 15px;
	margin-bottom: 25px;
}

.articlehistoria {
	margin-left: 0px;
	display: inline-block;
}

.articleargumento1 {
	width: 100%;
}

.articleargumento1 p {
font-size: 14px;
margin-bottom: 0px;
}

.divargumento {
	padding-bottom: 10px;
	width: 100%;
}

h2 {
	font-size: 25px;
	margin-left: 10px;
margin-bottom: 30px;
}

.articleargumento2 {
	width: 100%;
	display: inline-block;
	margin-top: 40px;
	margin-left: 15px;
}

.articleargumento2 img {
	height: 120px;
	width: 190px;
}

.articleargumento2 p {
	font-size: 13px;
}
.divfotoyepigrafe {
	width: 45%;
	margin-bottom: 5px;
}

#kiss {
	margin-left: 85px;
}

#kiss img {
	width: 220px;}

.articlehome {
	display: flex;
	width: 100%;
	margin-left: 15px;
}

.fotosfiesta {
width: 450px;
margin-left: 0px;
margin-bottom: 15px;
margin-right: 5px;
}

.fotosfiesta img {
	width: 220px;
	height: 160px;
	margin-left: 0px;
}

.fotosfiesta p {
	margin-left: 0px;
	padding-right: 10px;
	margin-top: 15px;
	font-size: 22px;
}

.phome {
	width: 100%;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.phome p {
	font-size: 16px;
}

.link {
	display: block;
	font-size: 13px;
}

.articlepersonajeshome {
display: inline-block;
width: 405px;
margin: 0px;
margin-top: 10px;
padding-left: 60px;
}

.divpersonajeshome {
	width: 200px;
	display: inline-block;
}

.articlequiz {
	display: inline-block;
	max-width: 480px;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.articlequiz div {
	width: 100%;
	margin-right: 5px;
}
.fotoscheckbox {
	width: 300px;
	height: 180px;
	margin-left: 60px;
	margin-top: 0px;
	padding-right: 0px;
	padding-top: 10px;
}

.casillas {
	margin-left: 0px;
	margin-right: 10px;
	line-height: 25px;
	width: 100%;
}

.casillas h4 {
	width: 90%;
	font-size: 18px;
	padding-left: 5px;
}

.articleresultado {
	margin-left: 10px;
	margin-top: 60px;
	display: inline-block;
	width: 430px;
}

.articleresultado p {
	font-size: 15px;
}
.articleresultado img {
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 25px;
	width: 390px;
	height: 220px;
}
.divresultado {
	padding-top: 0px;
}

.h3resultado {
	margin-top: 60px;
}

.textodescripcion {
	display: block;
	margin-top: 20px;
	margin-left: 0px;
	width: 415px;
}

.imagendescripcion {
	margin-left: 10px;
}

.imagendescripcion img {
height: 250px;
width: 180px;
}

.imagendescripcion a {
	margin-left: 0px;
}

.textodescripcion {
	margin-left: 5px;
}

.textodescripcion p {
	font-size: 15px;
}

.textodescripcion h3 {
	font-size: 19px;
}

.cita {
	padding-left: 0px;
	padding-bottom: 0px;
	margin-left: 10px;
	font-size: 17px;
}

.articlegaleria {
	display: flex;
	justify-content: space-between;
	width: 450px;
	margin-left: 5px;
	margin-top: 30px;
}

.articlegaleria a {
	margin-left: 5px;
}

.articlegaleria div {
	margin: 0px;
}

.carruselpersonaje {
	width: 130px;
	height: 100px;
	padding: 0px;
}

#botonresultado {
	margin-left:155px;
	margin-top: 20px;
	font-size: 27px;
	width: 150px;
	height: 50px;
}

#botonhome {
	margin-left: 180px;
	margin-bottom: 40px;
	width: 120px;
	height: 45px;
	font-size: 30px;
}

.fotospersonajes {
	height: 200px;
	width: 140px;
	margin: 0px;
}
.divpersonajes {
	margin: 2px;
}
.textopersonajes {
	font-size: 19px;
	margin-left: 33px;
}

}


